{% extends "bash.html" %}

{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
{% endblock head %}

{% block title %}
About Us
{% endblock title %}

{% block content %}
<div class="container">
    <h1>About Us</h1>
    <p>At GD Engineering and Trading, we are your trusted partner for all hardware and machinery needs. We specialize in providing a comprehensive range of high-quality hardware products and precision-engineered machines, including injection molding machines, tube sealing machines, capping machines, and more.

        In addition to manufacturing, we also offer pre-owned machinery tailored to your specific requirements. Our commitment to quality, durability, and precision ensures that every product we deliver meets the highest industry standards.
        
        With a focus on customer satisfaction, we take pride in offering reliable, long-lasting, and cost-effective solutions to meet your business needs. Whether you are looking for cutting-edge machinery or premium hardware supplies, GD Engineering and Trading is your one-stop destination.
        
        Get in touch with us today to explore our products and find the perfect solution for your business.
        
        </p>
    <div class="team-member"><h3> Phone Number:9899103846</h3></div>
    <div class="team-member"><h3> Phone Number:7838630663</h3></div>

    <h2>Meet Our Team</h2>
    <div class="team">
        <div class="team-member">
            <h3>Dinesh Kumar</h3>
            <p>Founder & CEO</p>
        </div>
        <div class="team-member">
            <h3>Aakash kumar</h3>
            <p>Co-Founder</p>
        </div>
    </div>
</div>
{% endblock %}