{% extends "bash.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  {# Ensures mobile responsiveness #}
{% endblock head %}

{% block title %}Home{% endblock title %}

{% block content %}
  <section class="info">
    <img src="static/logo.jpg" alt="GD Engineering Logo">
    <h1>GD ENGINEERING AND TRADING</h1>
  </section>

  <section class="cards-wrapper">
    {% for machine in machines reversed %}
    <div class="card-grid-space">
      <a class="card"  href="machine_detail/{{ machine.id }}" style="background-image: url({{ machine.getURL }});">
        <div class="card-content">
          <h1>{{ machine.Machine_name }}</h1>
          <p>{{ machine.Description }}</p>
          <div class="date">{{ machine.uploaded_at }}</div>
          <div class="tag">₹{{ machine.Price }}</div>
        </div>
      </a>
    </div>
    {% endfor %}
  </section>
{% endblock content %}

