{% extends 'bash.html' %}

{% block content %}
<h2>Machine List</h2>
<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.Product_name }}</td>
            <td>{{ product.P_Description }}</td>
            <td>{{ product.P_Price }}</td>
            <td>
                {% if product.P_image %}
                    <img src="{{ product.P_image.url }}" alt="{{ product.Machine_name }}" width="100">
                {% else %}
                    No Image
                {% endif %}
            </td>
            <td>
                <a href="/delete-product/{{product.id}}" class="btn">Delete Product</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}